*{
	padding: 0;
	margin: 0;
	font-family: 'roboto',sans-serif;
}
.container{
	width: 900px;
	margin: auto;
}
.mt-3{
	margin-top:30px; 
}
.mt-2{
	margin-top:5px; 
}
.mr-3{
	margin-right: 30px;
}
.ml-2{
	margin-left: 10px;
}
.ml-5{
	margin-left: 300px;
}
.text-center{
	text-align: center;
}
.text-uppercase{
	text-transform: uppercase;
}
.text-clain{
	color: rgba(127,127,127);
}
.text-green{
	color: green;
}
.text-light{
	color: #fff;
}
.text-roboto{
	font-family: 'roboto',sans-serif;
}
.text-calibri{
	font-family: 'calibri',sans-serif;
}
.text-premiun{
	font-size: 20px;
	color: rgba(127,127,127);
}
.titulo{
	border:1px solid #e6e6e6;
	padding: 20px;
	border-radius: 20px;
	background-color: green;
}
.conteudo{
	border:1px solid #e6e6e6;
	border-radius: 20px;
	padding: 20px
}
.btn{
	padding: 5px 10px;
	width: 100px;
	font-size: 20px;
	border:none;
	border:1px solid rgba(0,0,0,.4);
	border-radius: 5px;
	background-color:transparent; 
	transition: .5s;
	cursor: pointer;
}
.btn:hover{
	background-color:green;
	color:#fff;
	opacity: .5;
}
.points{
	font-size: 50px;
}
.float-left{
	display: flex;
}
.form-control{
	padding: 10px 10px;
	border:none;
	border:1px solid rgba(127,127,127);
	border-radius: 5px;
	color: rgba(127,127,127);
}
.btn-submit{
	background-color: transparent;
	color:green;
	padding: 5px;
	border:none;
	border:1px solid green;
	border-radius: 5px;
	width: 200px;
	cursor:pointer;
	transition: .5s;
}
.btn-submit:hover{
	background-color: green;
	opacity: .5;
	color:#fff;
}



